lib-cov 
lcov.info 
*.seed 
*.log 
*.csv 
*.dat 
*.out 
*.pid 
*.gz 
pids 
logs 
results 
build 
.grunt 
node_modules 
Services/*/service.js
Services/*/serviceconfig.json
killc9.js
EventfulHome.sublime-project
node_modules/*
