{
  "roomlights": [
    {
      "roomnr": "1",
      "lightsonsoft": "-v 200 -d 13",
      "lightsonbright": "-v 255 -d 13",
      "lightsoff": "-f 13"
    },
    {
      "roomnr": "3",
      "lightsonsoft": "-n 32 -n 34 -v 120 -d 33",
      "lightsonbright": "-n 32 -n 34 -v 255 -d 33",
      "lightsoff": "-f 32 -f 34 -f 33"
    },
    {
      "roomnr": "4",
      "lightsonsoft": "-n 42",
      "lightsonbright": "-n 42",
      "lightsoff": "-f 42"
    }
  ]
}