{
	"sounds": [
		{
			"title":"1",
			"filepaths":["./Sounds/1.mp3"]
		},
		{
			"title":"2",
			"filepaths":["./Sounds/2.mp3"]
		},
		{
			"title":"3",
			"filepaths":["./Sounds/3.mp3"]
		},
		{
			"title":"party",
			"filepaths":["./Sounds/4.mp3"]
		}
	]
}