{
   "sensorsupervisors":[
      {
         "sensortosupervise":"temp1",
         "criticallowvalue":"0.4",
         "lowvalue":"0.4",
         "highvalue":"0.8",
         "criticalhighvalue":"1.0"
      },
      {
         "sensortosupervise":"humid1",
         "criticallowvalue":"0.4",
         "lowvalue":"0.4",
         "highvalue":"0.8",
         "criticalhighvalue":"1.0"
      }
   ],
   "commandpath":"irsend",
   "shortmanualwateringtime":"10",
   "serialport": "/dev/ttyUSB0",
   "baudrate":"9600"
} 