{
  "HDMISignals": [
    {
      "signal": "watchtvlivingroom",
      "remote": "hdmiswitch",
      "command": "hdmia1"
    },
    {
      "signal": "watchmediapclivingroom",
      "remote": "hdmiswitch",
      "command": "hdmia2"
    },
    {
      "signal": "playps3livingroom",
      "remote": "hdmiswitch",
      "command": "hdmia3"
    },
    {
      "signal": "watchchromecastlivingroom",
      "remote": "hdmiswitch",
      "command": "hdmia4"
    }
  ],
  "commandpath" : "irsend"
}